*{
    padding: 0;
    margin: 0;
}
#menu{
    height: 50px;
    width: 100%;
    text-align: center;
    background: rgb(94, 247, 127);
    color: black;
}
body{
    width: 100%;
    background-image: url('hehehehe.jpg');
    height: 480px;
}
#head{
    background: black;
    height: 100px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 40px;
}
#content{
    width: 50%;
    height: 480px;
    float: left;
    text-align: center;
    background-color: white;
    margin-left: 25%;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
#footer{
    height: 91px;
    background-color: black;
    width: 100%;
    text-align: center;
    margin-top: 600px;
    color: white;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    transition: 1s;
}

h1:hover{
    color: rgb(94, 247, 127);
    transition: 1s;
}
