*{
    padding: 0;
    margin: 0;
}
#menu{
    height: 50px;
    width: 100%;
    text-align: center;
    background: rgb(94, 247, 127);
    color: black;
}
body{
    width: 100%;
}
#head{
    background: black;
    height: 100px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 40px;
}
#content{
    width: 100%;
    height: 650px;
    text-align: center;
    background-image: url('kKQf0tQ.png');
}
.foot{
    height: 91px;
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    transition: 1s;
}

h1:hover{
    color: rgb(94, 247, 127);
    transition: 1s;
}
.textcont{
    height: 700px;
    width: 50%;
    margin-left: 25%;
    background-color: white;
}
